name: Docker Image Push

on:
  push:
    branches: [ main ]
    paths:
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '**.py'
      - 'requirements.txt'

jobs:
  build:
    runs-on: ubuntu-latest
    environment: docker

    steps:
    - uses: actions/checkout@v6
    - name: Login to Docker Hub
      uses: docker/login-action@v3.6.0
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag c0rrre/streamlink:latest
      
    - name: Docker Push
      run: docker push c0rrre/streamlink

    - name: Docker Hub Description
      uses: peter-evans/dockerhub-description@v4
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_TOKEN }}
        repository: c0rrre/streamlink
